/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged.
*/
@media (min-width: 768px) {
  .navbar-nav .caret {
    display: none;
  } 
  
  .navbar-nav .open ul {
    display: none
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none
  }
  .navbar-default .navbar-nav > li:hover {
    background: #e7e7e7
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none
  }

  .navbar-inverse .navbar-nav > li:hover {
    background: #080808
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
    animation: 0.3s;
  }
}

.navbar-nav > li {
  text-align: center;
  overflow: visible;
}

.navbar-default .nav li a:active,
.navbar-default .nav li a:visited {
    color: #fff;
}

@media (min-width: 768px) {
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: none;
}
.navbar-nav > li > .dropdown-menu { 
  background-color: #363636; 
  position: relative;
  min-width: 100%;
  text-align: center;
  z-index: 2147483647;
}

.navbar-nav > li > .dropdown-menu > li > a:hover { 
  color: #2d7eed;
}

.clear-navbar {
    height: 50px;
}

@media (min-width: 768px) {
    nav.navbar { 
        max-height: 50px;
        overflow: visible;
    }
    nav.navbar >li:a { 
        color:green;
    }
}

.cn {
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.page-size {
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
}

.bg-aaa-color {
  background-color: #3d4d5a;
}

.calendar-size {
    height: -moz-calc(43.75% - 50px);
    height: -webkit-calc(43.75% - 50px);
    height: calc(43.75% - 50px);
}
    
.bg-light-color {
  background-color: #F1F1F1;
}
    
.img-splash {
    width: 50%;
    margin: 0 auto;
}
    
.officers {
    padding-top: 10px;
    background-color: black;
    width: 100%;
}
    
.chairs {
    padding-top: 10px;
    background-color: #686f69;
    width: 100%;
}
.dark-txt{
    color: #0f0f0f;
}
    
.light-txt {
    color: #bfbfbf;
}
    
title {
    padding-left: 10px;
}

.center {
    margin: 0 auto;
}
    
ul {
    list-style-type: none;
}
    
.fit-navbar {
    height: 50px;
}